
[submodule "vendor/OpenCL-SDK"]
	path = vendor/OpenCL-SDK
	url = https://github.com/KhronosGroup/OpenCL-SDK
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/OpenSYCL"]
	path = vendor/OpenSYCL
	url = https://github.com/OpenSYCL/OpenSYCL
[submodule "vendor/argparse"]
	path = vendor/argparse
	url = https://github.com/p-ranav/argparse
